


.row {
    .col {
        width: 100%!important;
        .form-group {
            textarea {
                width: 100%!important;

            }
            select{
                width: 100%!important;
            }
        }
    }

}


