// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

@import 'home';

@import 'product';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import'footer.scss';
