h2{
  font-family: Amatic SC, cursive;
    font-weight: bold;
}

h3{
    font-family: Amatic SC, cursive;
    font-weight: bold;
    font-size: 50px;
}


.logofooter {
    width: 80px;
}

.texteslider {
    font-size: 100px;
    background-color: #67c7c6;
}

.wave {
    position: absolute;
    width: 90%;
    height: 90%;
    opacity: 0.5;
}
.header-tonique {
    height: 2.5em;
}
.header-tonique span {
    color: white;
}
.new-left {
    width: 650px;
    height: 700px;
}
.new-right {
    width: 380px;
    height: 350px;
}
.product-a {
    text-decoration: none !important;
    color: black;
}
.product-a:hover {
    color: #67c7c6;
}

