a.fdp{
  color: #FFFFFF !important;
}

.choix {
  margin-bottom: 20px;
}

div.choix{
  border-width: 2px;
  border-style: solid;
}

.option {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $secondary;
}

.right{
  float: right;
}


